<div class="container">
  <h1>QCM - Formation  <%= @workshop.title %></h1>
  <% @questions.each_with_index do |question, i| %>
    <li class="question-text">
      <%= (i+1) %>. <%= question.question %>
    </li>
    <%= form_for(question, html: {id: "myform#{i+1}"}) do |f| %>
      <%= hidden_field_tag :workshop_id, question.workshop.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <div>
        <%= f.radio_button :answer, "#{question.answer}", :checked => false, onclick: 'myFunction()' %>
        <%= f.label "#{question.answer}" %>
      </div>
      <div>
        <%= f.radio_button :answer, "#{question.distractor_1}", onclick: 'myFunction()' %>
        <%= f.label "#{question.distractor_1}" %>
      </div>
      <% if question.distractor_2.present? %>
        <div>
          <%= f.radio_button :answer, "#{question.distractor_2 }", onclick: 'myFunction()' %>
          <%= f.label "#{question.distractor_2 }" %>
        </div>
      <% end %>
      <% if question.distractor_3.present? %>
        <div>
          <%= f.radio_button :answer, "#{question.distractor_3 }", onclick: 'myFunction()' %>
          <%= f.label "#{question.distractor_3 }" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  function myFunction() {
    document.getElementById("myform1").submit(); // using ID
  }
</script>
