<div class="container">
  <div class="row">
   <div class="col-md-8">
    <div class="card mb-2">
        <% if @lesson.video.attached? %>
          <div class="embed-responsive embed-responsive-16by9">
            <video controls>
              <source src=<%= rails_blob_path(@lesson.video) %> type="video/mp4" />
              <noscript>
                <p class="vjs-no-js">
                  Pour visionner cette vidéo, veuillez activer JavaScript et envisager de passer à un navigateur web qui
                  <a href="http://videojs.com/html5-video-support/" target="_blank">supporte la vidéo HTML5</a>
                </p>
              </noscript>
            </video>
          </div>
        <% else %>
          <div class="container-no-video">
            <p class="d-flex justify-content-center no-video">Ce chapitre ne contient pas de support vidéo.</p>
          </div>
        <% end %>
    </div>
    <div class="card mb-2">
    <ul class="nav nav-tabs">
     <li class="nav-item">
      <a class="nav-link active">Transcription</a>
     </li>
    </ul>
    <div class="tab-pane fade show active">
     <div class=container style="padding-top: 10px; padding-bottom: 10px;">
      <div clas="my-10"><%= @lesson.rich_body %></div>
     </div>
    </div>
    </div>
    <div id="completed-card">
      <div id="completed-lesson-link">
        <% unless current_user.complete_lessons.exists?(id: @lesson.id) %>
          <%= link_to complete_lessons_path(lesson_id: @lesson), method: :post do %>
            <span>Je certifie avoir suivi ce chapitre. </span><i class="fa fa-play-circle" style= "color: #6C757D"></i>
          <% end %>
        <% else %>
          <%= link_to complete_lesson_path(@lesson), method: :delete do %>
            <span id="lesson-completed">Chapitre terminé </span><i class="fa fa-check-circle" style= "color: #3ccdae" ></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mb-2 text-center lessons-navigation">
      <% if @workshop.lessons.where(id: @lesson.id-1).present? %>
        <%= link_to "<<< Précédent", workshop_lesson_path(@workshop, @lesson.id - 1), class:"btn btn-outline-secondary btn-lessons-navigation" %>
      <% end %>
      <% if @workshop.lessons.where(id: @lesson.id+1).present? %>
        <%= link_to "Suivant >>>", workshop_lesson_path(@workshop, @lesson.id + 1), class:"btn btn-outline-secondary btn-lessons-navigation" %>
      <% end %>
    </div>
    <div class="card">
      <div class="card-body">
         <p>
           <% if @lesson.comments.present? %>
             <% @lesson.comments.each do |c| %>
               <div>
                 <% if c.user.photo.attached? %>
                   <%= image_tag c.user.photo, alt: "User Profile", height: 30, width: 30, class: 'img-thumbnail', style: "margin-right: 20px;" %>
                 <% else %>
                   <%= image_tag 'no_avatar.png', alt: "User Profile", height: 30, width: 30, class: 'img-thumbnail' %>
                 <% end %>
                  <small>
                    ﻿<%= link_to c.user.full_name, c.user %>  (il y a <%= time_ago_in_words(c.created_at) %>)
                  </small>
                  <p class="mt-1 ml-4">
                    <%= c.body %>
                  </p>
                </div>
              <% end %>
            <% else %>
              Il n'y a pas encore de commentaires pour ce chapitre.
            <% end %>
          </p>
          <%= form_for [@lesson, @comment] do |f| %>
            <div class="form-group">
              Vous souhaitez laisser un commentaire ?
              <%= f.text_area :body, class: "form-control", placeholder: "Entrez votre commentaire ici.", rows: 3 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <%= f.submit "Créer le commentaire", class: "btn btn-primary" %>
         <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 center" id="sticky">
   <div class="workshop-title">
    <div class="workshop-title-header text-center">
     <h5><%= @workshop.title %></h5>
    </div>
    <div class="list-lessons">
    <ul class="card list-group list-group-fit text-center">
      <% @workshop.lessons.each_with_index do |lesson, i| %>
        <li class="list-group-item <%= active_lesson(workshop_lesson_path(@workshop, lesson)) %>">
          <%= (i+1) %>. <%= link_to lesson.title, workshop_lesson_path(@workshop, lesson) %>
          <% if current_user.complete_lessons.exists?(id: lesson.id) %>
            <i class="fa fa-check-circle" style= "color: #3ccdae" ></i>
          <% end %>
        </li>
      <% end %>
      <li class="list-group-item">
        <% if @answers.count == @questions.count %>
          <%= link_to "Résultat du QCM", workshop_results_path(@workshop) %>
        <% else %>
          <%= link_to "#{ @lessons.count + 1}. QCM", new_question_answer_path(@question) %>
        <% end %>
      </li>
    </ul>
    </div>
   </div>
   <div class="card">
    <ul class="list-group list-group-fit text-center">
     <li class="list-group-item">
      <span>
       <small><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></small> <%= @workshop.difficulty %>
      </span>
     </li>
     <li class="list-group-item">
      <span>
       <small><i class="fa fa-list-ul" aria-hidden="true"></i></small> <%= @workshop.category %>
      </span>
     </li>
    </ul>
  </div>
  </div>
 </div>
</div>

