<div class="row">
  <%= render partial: 'shared/admin_sidebar' %>
  <div class="col-12 col-lg-10">
    <div class="card">
      <div class="card-header">Gérer les utilisateurs</div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>User ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Confirmé?</th>
            <th><i class="fa fa-pencil" aria-hidden="true"></i></th>
            <th><i class="fa fa-trash" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, i| %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= user.id %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><% if user.confirmed_at.present? %><%= time_ago_in_words(user.confirmed_at.localtime) %> ago<% else %>Pas encore<% end %></td>
              <td>
                <%= link_to edit_admin_user_path(user) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
              </td>
              <td>
                <%= link_to admin_user_path(user), method: :delete, data: { confirm: "You sure?" } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
